
params {
        config_profile_description = 'PopFun base configuration'
        config_profile_contact = 'Ido Bar (@idobar)'
        config_profile_url = 'https://github.com/IdoBar/popfun/blob/main/conf/base.config'
        max_memory = 64000.MB //2000000.MB
        max_cpus = 16 // 192
        max_time = 336.h
}
process {
    errorStrategy = { task.exitStatus in [143,140,137,104,134,139,271] ? 'retry' : 'finish' }
    maxRetries = 4
    cpus = 1
    memory = '4 GB'
  //  withLabel: 'process_medium' { cpus = 4; memory = '8 GB' }
 //   withLabel: 'process_high' { cpus = 8; memory = '16 GB' }
    withLabel:'sc_tiny' {
            cpus = 1
            memory = { check_max( 4.GB + (2.GB * task.attempt), 'memory' ) }
            time = { check_max( 4.h + (2.h * task.attempt), 'time' ) }
    }
    withLabel:'sc_small|process_single' {
        cpus = 1
        memory = { check_max( 12.GB + (4.GB * task.attempt), 'memory' ) }
        time = { check_max( 4.h + (2.h * task.attempt), 'time' ) }
    }
    withLabel:'sc_medium' {
        cpus = 1
        memory = { check_max( 24.GB + (8.GB * task.attempt), 'memory' ) }
        time = { check_max( 12.h + (4.h * task.attempt), 'time' ) }
    }
    withLabel:'mc_small|process_low' {
        cpus = { check_max( 2 + (2 * task.attempt), 'cpus' ) }
        memory = { check_max( 12.GB + (4.GB * task.attempt), 'memory' ) }
        time = { check_max( 4.h + (2.h * task.attempt), 'time'  ) }
    }
    withLabel:'mc_medium|process_medium' {
        cpus = { check_max( 6 + (2 * task.attempt), 'cpus' ) }
        memory = { check_max( 32.GB + (16.GB * task.attempt), 'memory' ) }
        time = { check_max( 12.h + (4.h * task.attempt), 'time' ) }
    }
    withLabel:'mc_long|process_long' {
        cpus = { check_max( 8 + (2 * task.attempt), 'cpus' ) }
        memory = { check_max( 32.GB +  (16.GB * task.attempt), 'memory' ) }
        time = { check_max( (20.h * task.attempt), 'time' ) }
    }
    withLabel:'mc_large|process_high' {
        cpus = { check_max( 10 + (2 * task.attempt), 'cpus' ) }
        memory = { check_max( 72.GB +  (24.GB * task.attempt), 'memory' ) }
        time = { check_max( 15.h + (5.h * task.attempt), 'time' ) }
    }
    withLabel:'mc_xlarge|process_high_memory' {
        cpus = { check_max( 12 + (4 * task.attempt), 'cpus' ) }
        memory = { check_max( 96.GB + (32.GB * task.attempt), 'memory' ) }
        time = { check_max( 15.h + (10.h * task.attempt), 'time' ) }
    }
    withLabel:'mc_huge|process_high_memory_long' {
        cpus = { check_max( 20 + (4 * task.attempt), 'cpus' ) }
        memory = { check_max( 164.GB + (32.GB * task.attempt), 'memory' ) }
        time = { check_max( 60.h + (20.h * task.attempt), 'time' ) }
    }
}
// Function to ensure that resource requirements don't go beyond
// a maximum limit (only needed while using this config file locally)
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}